<br />
prediction list <br />
<%= current_user.name %><br />
<%= current_user.surname %><br />
<%= current_user.balance %>


<h1>Список прогнозов</h1>
<table>
  <thead>
    <tr>
      <th>Вид спорта</th>
      <!--<th>Тип</th>-->
      <th>Информация о ставке</th>
      <th>Дата и время</th>
      <th>Цена</th>
      <th>Состояние</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
    
    <% if current_user.predictions.where(id: prediction).any? %> 
        <% owned = true %> 
    <% else %> 
        <% owned = false %>
    <% end %>

      <tr>
        <td><%= prediction.discipline %></td>
        <!--<td><%= prediction.bettype %></td>-->
        <td><% if owned %> <%= prediction.info %> <% else %> have to buy <% end %></td>
        <td><%= prediction.date.strftime("%d-%m-%Y %H-%M") %></td>
        <td><%= prediction.price %></td>
        <td><%= prediction.status %></td>
        <td><% if owned %> Приобретено <% else %>
        <%= link_to 'Buy', prediction, data: { confirm: 'Вы уверены, что хотите купить этот прогноз? ' } %><% end %></td>

        <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prediction', new_prediction_path %>
