<h1>Список прогнозов</h1>

<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Вид спорта</th>
        <th>Прогноз</th>
        <th>Дата матча</th>
        <th>Время матча</th>
        <th>Цена</th>
        <!--<th>Состояние</th>-->
        <th>Покупка</th>
      </tr>
    </thead>
    <tbody>
        <% @predictions.each do |prediction| %>

        <% if current_user.predictions.where(id: prediction).any? %> 
            <% owned = true %> 
        <% else %> 
            <% owned = false %>
        <% end %>

      <tr>
        <td><%= prediction.discipline %></td>
        <td><% if owned || @subscribed %> <%= prediction.info %> <% else %> Для просмотра необходимо купить. <% end %></td>
        <td><%= prediction.date.strftime("%d.%m.%y") %></td>
        <td><%= prediction.date.strftime("%H:%M") %></td>
        <td><% if owned || @subscribed %> - <% else %><%= @calculated_price.to_s + " BM" %><% end %></td>
        <!--<td><%= prediction.status %></td>-->
        <td>
        <% if owned  || @subscribed %> 
          Куплено 
        <% else %>
          <%= link_to 'Купить', prediction, data: { confirm: 'Вы уверены, что хотите купить этот прогноз? ' } %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>

<!-- <%= link_to 'Добавить прогноз', new_prediction_path %> -->
