<h1>List of predictions</h1>

<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sport</th>
        <th>Prediction</th>
        <th>Date of match</th>
        <th>Time of match</th>
        <th>Price</th>
        <th>Purchase</th>
        <% if @admin %><th>Status</th><% end %>
      </tr>
    </thead>
    <tbody>
        <% @predictions.each do |prediction| %>

        <% if current_user.predictions.where(id: prediction).any? %> 
            <% owned = true %> 
        <% else %> 
            <% owned = false %>
        <% end %>

      <tr>
        <td><%= prediction.discipline %></td>
        <td><% if owned || @subscribed %> <%= prediction.info %> <% else %> To access need to buy. <% end %></td>
        <td><%= prediction.date.strftime("%d.%m.%y") %></td>
        <td><%= prediction.date.strftime("%H:%M") %></td>
        <td><% if owned || @subscribed %> - <% else %><%= @calculated_price.round.to_s + " BM" %><% end %></td>
        <!--<td><%= prediction.status %></td>-->
        <td>
        <% if owned  || @subscribed %> 
          Bought 
        <% else %>
          <%= link_to 'Buy', prediction, data: { confirm: 'Are you sure that you want to buy this prediction? ' } %>
        <% end %>
        </td>
        <% if @admin %>
          <td><%= link_to 'Success', {action: :accept, id: prediction}, class: 'green' %><br>
          <%= link_to 'Fail', {action: :decline, id: prediction}, class: 'red' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>

<!-- <%= link_to 'Добавить прогноз', new_prediction_path %> -->
