<h1>Statistic of predictions</h1>

<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sport</th>
        <th>Prediction</th>
        <th>Date of match</th>
        <th>Time of match</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <% @predictions.each do |prediction| %>
        <% if prediction.status == "win" %>
          <% status = "Success" %>
          <% color = "green" %>
        <% end %>
        <% if prediction.status == "lose" %>
          <% status = "Fail" %>
          <% color = "red" %>
        <% end %> 
      <tr>
        <td><%= prediction.discipline %></td>
        <td><%= prediction.info %></td>
        <td><%= prediction.date.strftime("%d.%m.%y") %></td>
        <td><%= prediction.date.strftime("%H:%M") %></td>
        <td style="color: <%= color %>"><%= status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>

