<!DOCTYPE html>
<html>
<head>
  <title>Betinsider</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to 'Bet Insider', root_path %>
                </li>
                <!--<li>-->
                	<% if user_signed_in? %>
    					<li>Здравствуйте, <%= current_user.name %></li>
                        <li>Баланс: <%= current_user.balance.round.to_s + " BM" %></li>
                        <li><a href="">Пополнить баланс</a></li>
					<% else %>
    					<li><%= link_to 'Войти', new_user_session_path %></li>
    					<li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
					<% end %>
				<!--</li>-->
                <li>
                    <%= link_to 'Прогнозы', predictions_path %>
                </li>
                <li>
                    <%= link_to 'Подписки', subscriptions_path %>
                </li>
                <li>
                    <a href="#">Статистика</a>
                </li>
                <li>
                    <%= link_to 'F.A.Q.', faq_path %>
                </li>
                <li>
                    <%= link_to 'Контакты', contact_path %>
                </li>
                <% if user_signed_in? %>
                    <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
                <% end %>

                <li>
                </li>

                <li style>
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 0, width: "190", height: "350", color1: 'FFFFFF', color2: '999999', color3: '999999'}, 120356479);
                    </script>
                </li>

            </ul>






        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<% flash.each do |name, message| %>
							<%= content_tag :div, message, class: "alert alert-#{name}" %>
						<% end %>

                        <%= yield %>

                        <!--<div class="col-md-12"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Скрыть/Показать Меню</a></div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
